/* Responsive media query for smaller screens */
@media only screen and (max-width: 768px) {
  table th {
    padding: 0.4rem;
    font-size: 1em;
    border-bottom: 1px solid black;
  }

  table td {
    font-size: 0.75em;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .container nav {
    font-size: 0.75em;
  }
  
}
